@use "node_modules/@picocss/pico/scss/pico" with ($enable-semantic-container: true,
  $enable-classes: false,
  $theme-color: "jade",
  $semantic-root-element: "#app",
  $modules: ("content/code": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/accordion": false,
    "components/card": false,
    "components/dropdown": false,
    "components/loading": false,
    "components/modal": false,
    "components/nav": false,
    "components/progress": false,
    "components/tooltip": false,
    "utilities/accessibility": false,
    "utilities/reduce-motion": false));

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    max-height: 15%;
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 75%;
  }
}