@import '../../../styles/constants.css';

.NotFound {
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.NotFound h1 {
  font-size: 5em;
}