.room {
  display: flex;
  flex-grow: 1;
  height: 90%;
  max-height: 90%;
}

.room ul {
  flex: 1;
}

.room .chat {
  flex-grow: 1 ;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-message {
  margin-bottom: 0.2rem;
  --pico-typography-spacing-vertical: 0rem;
  font-size: 0.8rem;
  border-top: 1px solid black;
}

.chat-message:hover {
  background-color: lightgrey;
}

.room form{
  --pico-spacing: 0em;
  --pico-form-element-spacing-vertical: 0.5rem;
}